:root{
    --primary-color: white;
    --accentColor: hsl(217, 90%, 60%);

}





.sidebar {
    position: fixed;
    height: 100%;
    border-right: 1px hsl(220, 9%, 20%) solid;
    background-color:white;
    color: hsl(220, 9%, 46%);
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    transition: width 0.3s ease-in-out;
    
}
.sidebar.closed{
    width: 90px;
}

.sidebar-content {
    flex: 1;
}


#logo {
    padding: 20px;
    padding-top: 10px;
    opacity: 1;
    transform: translateX(0) scale(1);
    transition: opacity 0.2s ease-in-out 0.3s, 
            transform 0.2s ease-in-out 0.3s;

}
.sidebar.closed #logo{
    opacity: 0;
    transform: translateX(-20px) scale(0.9);
    transition: opacity 0.1s ease-in-out, 
                transform 0.1s ease-in-out;
    padding: 0px;
    padding-top: 0px;
}

.sidebar.closed #profile{
    text-align: center;
}



.hozontalline {
    color: hsl(0, 80%, 43%);
    margin: 0px 18px;
}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#profile p {
    margin-top: 5px;
}

#profile img {
    width: 60px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.contentInline {
    display: flex;
    flex-direction: row;    
    justify-content: left;
    align-items: center;
    margin-top: 5%;
    margin-left: 18%;
    align-items: center;
    padding: 10px 5px;
    border-radius: 10px;
    width: 65%;
    border: none;
    background-color: rgb(255, 255, 255);
    transition: vibility 0.1 ease-in-out;
}

.contentInline p:hover{
    background-color: rgba(255, 255, 255, 0);
}

.dashboard-icon:hover{
    background-color: rgba(255, 255, 255, 0);
}

.icon:hover{
    background-color: rgba(255, 255, 255, 0);
}

.icon path:hover{
    background-color: rgba(255, 255, 255, 0);;
}

.contentInline svg:hover{
    background-color: rgba(255, 0, 0, 0);
}

.dashboard-icon:hover{
    background-color: rgba(255, 255, 255, 0);
}

.sidebar.closed .contentInline p{
    visibility: hidden;
}

.sidebar.closed .dashboard-icon svg{
    display: flex;
    align-items: center;
    width: 48px; 
    height: 35px;
}




.MenuButton :hover{
    background-color: rgba(124, 124, 124, 0.13);
}

.dashboard-icon {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25px;
    margin-right: 10px;
}

.bottom-nav {
    margin-bottom: 20px;
}

.bottom-nav :hover
{
    background-color: rgba(124, 124, 124, 0.13);
}



.icon{
    fill: #6b7280;
}

.icon-selected{
    fill: rgb(255, 255, 255);
    color: white;
}

#backarrow{
    display:flex;
    flex-direction: row-reverse;
    margin: 10px 20px;
    margin-top: 20px;
    
    
}


#backarrow-icon {
    /* Define the transition on the element that will rotate */
    rotate: 180deg;
    transition: transform 0.1s ease-in-out;
    
    /* Optional: Ensure it behaves like a block element for transforms */
    display: inline-block; 
}

#backarrow-icon.rotated {
    transform: rotate(180deg);
}
